/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* manual setting */

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.text-color-primary {
    color: #5AB88A
}

.bg-brand {
    background-color: #5AB88A;
}

.background {
    background-image: url("../images/backgroundImages.png");
    height: 760px;
    background-size: cover;
}

.headerImages {
    background-size: cover;
}

.headerImages img {
    height: 500px;
}

.banner {
    background-size: cover;
}

.featureImage img {
    position: inherit;
    z-index: 2;
    margin-top: -750px;
    width: 750px;
    height: 95%;
}

.featureImage {
    height: 780px;
}

.whitespace {
    width: 100px;
    height: 100%;
}

#container {
    max-width: 1440px;
    margin: auto;
}

@media screen and (max-width: 1022px) {}

@media screen and (max-width:768px) {
    .whitespace {
        display: none;
    }
    .featureImage img {
        margin-top: 112%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .banner img {
        height: 250px;
        object-fit: cover;
        background-position: center;
    }
    .register {
        height: auto;
    }
    .headerImages img {
        height: 400px;
    }
    .featureImage img {
        height: auto;
        margin: auto;
        margin-top: 0px;
        width: 100%;
    }
    .featureImage {
        background: transparent;
        padding: 20px;
        height: auto;
        margin-bottom: 50px;
    }
}