/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* manual setting */

* {
    font-family: "SF Pro Display", sans-serif;
    margin: 0;
}

.background {
    background-image: url("../images/backgroundImages.png");
    height: 750px;
    background-size: cover;
}

.navbar {
    color: #000;
}

.headerImages {
    background-size: cover;
}

.title-heading {
    font-family: "SF Pro Display";
    font-weight: 800;
}

.banner {
    background-size: cover;
}

.about h1 {
    font-family: "SF Pro Display", sans-serif;
}

.primaryFont {
    font-family: "SF Pro Display", sans-serif;
}

.featureHeading {
    height: 820px;
}

.featureImage img {
    position: absolute;
    z-index: 2;
    right: 0;
    margin-top: -60%;
    width: 680px;
}

.whitespace {
    width: 100px;
    height: 100%;
}

.register {
    height: 400px;
}

@media screen and (max-width:768px) {
    .whitespace {
        display: none;
    }
    .featureImage img {
        margin-top: 112%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .banner img {
        height: 250px;
        object-fit: cover;
        background-position: center;
    }
    .register {
        height: auto;
    }
}