/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* manual setting */

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.background {
    background-image: url("../images/backgroundImages.png");
    background-size: cover;
}

.navbar {
    color: #000;
}

.headerImages {
    background-size: cover;
}

.title-heading {
    font-family: "SF Pro Display";
    font-weight: 800;
}